<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="style.css">
    <%- contentFor('body') %>
    <img class = "bkg" src="img/icelandwallpaper.jpg">
    <h1><%= name %></h1>
    <div class="col-xs-2">
      <label for="sel1">From:</label>
      <select class="form-control" id="sel1">
        <option>Akranes</option>
        <option>Akureyri</option>
        <option>Árskógsströnd/Hrísey</option>
        <option>Ísafjörður</option>
        <option>Ólafsfjörður</option>
        <option>Ólafsvík</option>
        <option>Ögur í Ísafjarðardjúpi</option>
        <option>Þórshöfn</option>
        <option>Þingeyri</option>
        <option>Þorlákshöfn</option>
        <option>Bakkafjörður</option>
        <option>Bíldudalur</option>
        <option>Búðardalur</option>
        <option>Bifröst</option>
        <option>Blönduós</option>
        <option>Bolungarvík</option>
        <option>Borgarfjörður</option>
        <option>Borgarnes</option>
        <option>Breiðdalsvík</option>
        <option>Dalvík</option>
        <option>Djúpivogur</option>
        <option>Drangsnes</option>
        <option>Egilsstaðir</option>
        <option>Eskifjörður</option>
        <option>Eyrarbakki</option>
        <option>Fáskrúðsfjörður</option>
        <option>Flateyri</option>
        <option>Flúðir</option>
        <option>Garðabær</option>
        <option>Garður</option>
        <option>Grenivík</option>
        <option>Grindavík</option>
        <option>Grundarfjörður</option>
        <option>Hafnarfjörður</option>
        <option>Hólmavík</option>
        <option>Höfn</option>
        <option>Húsavík</option>
        <option>Heitar laugar á Íslandi</option>
        <option>Hella</option>
        <option>Hellissandur</option>
        <option>Hofsós</option>
        <option>Hvammstangi</option>
        <option>Hvanneyri</option>
        <option>Hveragerði</option>
        <option>Hvolsvöllur</option>
        <option>Kárahnjúkar</option>
        <option>Kópasker</option>
        <option>Kópavogur</option>
        <option>Keflavík</option>
        <option>Keflavík (Airport)</option>
        <option>Keilissvæðið</option>
        <option>Kirkjubæjarklaustur</option>
        <option>Landeyjahöfn</option>
        <option>Landmannalaugar</option>
        <option>Laugar</option>
        <option>Laugarvatn</option>
        <option>Mývatn</option>
        <option>Mjóifjörður</option>
        <option>Mosfellsbær</option>
        <option>Neskaupstaður</option>
        <option>Patreksfjörður</option>
        <option>Raufarhöfn</option>
        <option>Reyðarfjörður</option>
        <option>Reykhólar</option>
        <option>Reykholt</option>
        <option>Reykjanesbær</option>
        <option>Reykjavík</option>
        <option>Sandgerði</option>
        <option>Sauðárkrókur</option>
        <option>Súðavík</option>
        <option>Selfoss</option>
        <option>Seyðisfjörður</option>
        <option>Siglufjörður</option>
        <option>Skagaströnd</option>
        <option>Staður</option>
        <option>Stöðvarfjörður</option>
        <option>Stokkseyri</option>
        <option>Stykkishólmur</option>
        <option>Suðureyri</option>
        <option>Tálknafjörður</option>
        <option>Varmahlíð</option>
        <option>Vík</option>
        <option>Vestmannaeyjar</option>
        <option>Vogar</option>
        <option>Vopnafjörður</option>
      </select>
    </div>

    <div class="col-xs-2">
      <label for="sel1">To:</label>
      <select class="form-control" id="sel1">
        <option>Akranes</option>
        <option>Akureyri</option>
        <option>Árskógsströnd/Hrísey</option>
        <option>Ísafjörður</option>
        <option>Ólafsfjörður</option>
        <option>Ólafsvík</option>
        <option>Ögur í Ísafjarðardjúpi</option>
        <option>Þórshöfn</option>
        <option>Þingeyri</option>
        <option>Þorlákshöfn</option>
        <option>Bakkafjörður</option>
        <option>Bíldudalur</option>
        <option>Búðardalur</option>
        <option>Bifröst</option>
        <option>Blönduós</option>
        <option>Bolungarvík</option>
        <option>Borgarfjörður</option>
        <option>Borgarnes</option>
        <option>Breiðdalsvík</option>
        <option>Dalvík</option>
        <option>Djúpivogur</option>
        <option>Drangsnes</option>
        <option>Egilsstaðir</option>
        <option>Eskifjörður</option>
        <option>Eyrarbakki</option>
        <option>Fáskrúðsfjörður</option>
        <option>Flateyri</option>
        <option>Flúðir</option>
        <option>Garðabær</option>
        <option>Garður</option>
        <option>Grenivík</option>
        <option>Grindavík</option>
        <option>Grundarfjörður</option>
        <option>Hafnarfjörður</option>
        <option>Hólmavík</option>
        <option>Höfn</option>
        <option>Húsavík</option>
        <option>Heitar laugar á Íslandi</option>
        <option>Hella</option>
        <option>Hellissandur</option>
        <option>Hofsós</option>
        <option>Hvammstangi</option>
        <option>Hvanneyri</option>
        <option>Hveragerði</option>
        <option>Hvolsvöllur</option>
        <option>Kárahnjúkar</option>
        <option>Kópasker</option>
        <option>Kópavogur</option>
        <option>Keflavík</option>
        <option>Keflavík (Airport)</option>
        <option>Keilissvæðið</option>
        <option>Kirkjubæjarklaustur</option>
        <option>Landeyjahöfn</option>
        <option>Landmannalaugar</option>
        <option>Laugar</option>
        <option>Laugarvatn</option>
        <option>Mývatn</option>
        <option>Mjóifjörður</option>
        <option>Mosfellsbær</option>
        <option>Neskaupstaður</option>
        <option>Patreksfjörður</option>
        <option>Raufarhöfn</option>
        <option>Reyðarfjörður</option>
        <option>Reykhólar</option>
        <option>Reykholt</option>
        <option>Reykjanesbær</option>
        <option>Reykjavík</option>
        <option>Sandgerði</option>
        <option>Sauðárkrókur</option>
        <option>Súðavík</option>
        <option>Selfoss</option>
        <option>Seyðisfjörður</option>
        <option>Siglufjörður</option>
        <option>Skagaströnd</option>
        <option>Staður</option>
        <option>Stöðvarfjörður</option>
        <option>Stokkseyri</option>
        <option>Stykkishólmur</option>
        <option>Suðureyri</option>
        <option>Tálknafjörður</option>
        <option>Varmahlíð</option>
        <option>Vík</option>
        <option>Vestmannaeyjar</option>
        <option>Vogar</option>
        <option>Vopnafjörður</option>
      </select>
    </div>
      <div class="col-xs-1">
      <label for="sel1">""</label>
      <button type="button" class="btn btn-info">Search</button>
    </div>

  </head>
  <body>
  </body>
</html>
