<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>RideJoy-The best carpooling site for travel in Iceland</title>
  </head>
  <body>
    <h1><%= name %></h1>
    <a class='dropdown-button btn' href='#' data-activates='dropdown1'>Drop Me!</a>
    <!-- Dropdown Structure -->
    <ul id='dropdown1' class='dropdown-content'>
      <li><a href="#!">Akranes</a></li>
      <li><a href="#!">Akureyri</a></li>
      <li><a href="#!">Árskógsströnd/Hrísey</a></li>
      <li><a href="#!">Ísafjörður</a></li>
      <li><a href="#!">Ólafsfjörður</a></li>
      <li><a href="#!">Ólafsvík</a></li>
      <li><a href="#!">Ögur í Ísafjarðardjúpi</a></li>
      <li><a href="#!">Þórshöfn</a></li>
      <li><a href="#!">Þingeyri</a></li>
      <li><a href="#!">Þorlákshöfn</a></li>
      <li><a href="#!">Bakkafjörður</a></li>
      <li><a href="#!">Bíldudalur</a></li>
      <li><a href="#!">Búðardalur</a></li>
      <li><a href="#!">Bifröst</a></li>
      <li><a href="#!">Blönduós</a></li>
      <li><a href="#!">Bolungarvík</a></li>
      <li><a href="#!">Borgarfjörður</a></li>
      <li><a href="#!">Borgarnes</a></li>
      <li><a href="#!">Breiðdalsvík</a></li>
      <li><a href="#!">Dalvík</a></li>
      <li><a href="#!">Djúpivogur</a></li>
      <li><a href="#!">Drangsnes</a></li>
      <li><a href="#!">Egilsstaðir</a></li>
      <li><a href="#!">Eskifjörður</a></li>
      <li><a href="#!">Eyrarbakki</a></li>
      <li><a href="#!">Fáskrúðsfjörður</a></li>
      <li><a href="#!">Flateyri</a></li>
      <li><a href="#!">Flúðir</a></li>
      <li><a href="#!">Garðabær</a></li>
      <li><a href="#!">Garður</a></li>
      <li><a href="#!">Grenivík</a></li>
      <li><a href="#!">Grindavík</a></li>
      <li><a href="#!">Grundarfjörður</a></li>
      <li><a href="#!">Hafnarfjörður</a></li>
      <li><a href="#!">Hólmavík</a></li>
      <li><a href="#!">Höfn</a></li>
      <li><a href="#!">Húsavík</a></li>
      <li><a href="#!">Heitar laugar á Íslandi</a></li>
      <li><a href="#!">Hella</a></li>
      <li><a href="#!">Hellissandur</a></li>
      <li><a href="#!">Hofsós</a></li>
      <li><a href="#!">Hvammstangi</a></li>
      <li><a href="#!">Hvanneyri</a></li>
      <li><a href="#!">Hveragerði</a></li>
      <li><a href="#!">Hvolsvöllur</a></li>
      <li><a href="#!">Kárahnjúkar</a></li>
      <li><a href="#!">Kópasker</a></li>
      <li><a href="#!">Kópavogur</a></li>
      <li><a href="#!">Keflavík</a></li>
      <li><a href="#!">Keflavík (Airport)</a></li>
      <li><a href="#!">Keilissvæðið</a></li>
      <li><a href="#!">Kirkjubæjarklaustur</a></li>
      <li><a href="#!">Landeyjahöfn</a></li>
      <li><a href="#!">Landmannalaugar</a></li>
      <li><a href="#!">Laugar</a></li>
      <li><a href="#!">Laugarvatn</a></li>
      <li><a href="#!">Mývatn</a></li>
      <li><a href="#!">Mjóifjörður</a></li>
      <li><a href="#!">Mosfellsbær</a></li>
      <li><a href="#!">Neskaupstaður</a></li>
      <li><a href="#!">Patreksfjörður</a></li>
      <li><a href="#!">Raufarhöfn</a></li>
      <li><a href="#!">Reyðarfjörður</a></li>
      <li><a href="#!">Reykhólar</a></li>
      <li><a href="#!">Reykholt</a></li>
      <li><a href="#!">Reykjanesbær</a></li>
      <li><a href="#!">Reykjavík</a></li>
      <li><a href="#!">Sandgerði</a></li>
      <li><a href="#!">Sauðárkrókur</a></li>
      <li><a href="#!">Súðavík</a></li>
      <li><a href="#!">Selfoss</a></li>
      <li><a href="#!">Seyðisfjörður</a></li>
      <li><a href="#!">Siglufjörður</a></li>
      <li><a href="#!">Skagaströnd</a></li>
      <li><a href="#!">Staður</a></li>
      <li><a href="#!">Stöðvarfjörður</a></li>
      <li><a href="#!">Stokkseyri</a></li>
      <li><a href="#!">Stykkishólmur</a></li>
      <li><a href="#!">Suðureyri</a></li>
      <li><a href="#!">Tálknafjörður</a></li>
      <li><a href="#!">Varmahlíð</a></li>
      <li><a href="#!">Vík</a></li>
      <li><a href="#!">Vestmannaeyjar</a></li>
      <li><a href="#!">Vogar</a></li>
      <li><a href="#!">Vopnafjörður</a></li>
  </ul>

  </body>
</html>
