body {
    min-height: 2000px;
}

.navbar.navbar-default.navbar-static-top {
  margin-bottom: 0;
  background: black;
  border-width: 0;
}

.bkg {
  margin: 0 auto;
  width: 100%;
  filter:opacity(75%);
}

li {
  font-size: 18px;
}

.index-container {
  text-align: center;
  margin-top: -650px;
  font-family: 'Lobster', cursive;
}

.login-container {
  text-align: center;
  margin-top: -650px;
  font-family: 'Lobster', cursive;
}

.signup-container {
  text-align: center;
  margin-top: -700px;
  font-family: 'Lobster', cursive;
}

.newride-container {
  text-align: center;
  margin-top: -700px;
  font-family: 'Lobster', cursive;

}
